<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VIDEO MUSIC LIST</title>
  </head>
  <body>
    <table width="500px" border="1">
      <tr>
        <td>ID</td>
        <td>Video Id</td>
        <td>Video Name</td>
        <td>Video Description</td>
        <td>Video Image</td>
        <td><a href="../music/add">Add new</a></td>
      </tr>

      <% danhsach.rows.forEach(function(v){ %>
      <tr>
        <td><%= v.id %></td>
        <td><%= v.video_id %></td>
        <td><%= v.video_name %></td>
        <td><%= v.video_description %></td>
        <td><img src="../images/video/<%= v.video_thumbnail %>" alt="<%= v.video_thumbnail %>" height="80" width="100" /></td>
        <td><a href="../music/edit/<%= v.id %>">Edit</a> -
            <a onclick="return confirm('Are you sure ?')"href="../music/delete/<%= v.id %>">Delete</a>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
